* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.MuiGrid-item {
  padding: 10px 0 10px 0 !important;
}

.rtf.open .rtf--mb > * {
  transform: rotate(0deg) !important;
}

.responsive-iframe iframe {
  height: 40vh; /* Default height */
}

.responsive-iframe {
  max-height: 30vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  /* For small screens (xs) */
  .responsive-iframe iframe {
    border: none;
    width: 300vw;
    height: 25vh;
  }

  .responsive-iframe {
    max-height: 18vh;
  }
}
