* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.MuiGrid-item {
  padding: 10px 0 10px 0 !important;
}

.rtf.open .rtf--mb > * {
  transform: rotate(0deg) !important;
}

.responsive-iframe iframe {
  height: 30vh; /* Default height */
}

@media (max-width: 768px) {
  /* For small screens (xs) */
  .responsive-iframe iframe {
    height: 18vh;
  }
}
